# Tara Behnsen

## Research question/interests
I want to know how total precipitation in Kelowna changes over time under different carbon dioxide emission scenarios.e.

In [1]:
import pandas as pd

In [9]:
Total_Precipitation = pd.read_csv('../data/raw/Total_Precitation.csv')

In [10]:
Total_Precipitation

,DateTime,Modeled Historical,Historical Range (low),Historical Range (high),RCP 2.6 Median,RCP 2.6 Range (low),RCP 2.6 Range (high),RCP 4.5 Median,RCP 4.5 Range (low),RCP 4.5 Range (high),RCP 8.5 Median,RCP 8.5 Range (low),RCP 8.5 Range (high)
0,1950-01-01,333.11,273.47,435.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951-01-01,338.44,280.55,419.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952-01-01,344.11,266.32,402.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953-01-01,362.26,299.86,412.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954-01-01,342.15,287.69,416.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2096-01-01,NaN,NaN,NaN,338.45,281.54,480.16,401.70,313.04,507.91,371.96,309.73,472.78
147,2097-01-01,NaN,NaN,NaN,378.45,313.31,511.54,354.82,279.74,456.37,375.05,289.02,496.29
148,2098-01-01,NaN,NaN,NaN,366.73,289.75,429.62,380.23,323.85,496.79,376.75,333.71,431.17
149,2099-01-01,NaN,NaN,NaN,371.09,311.06,438.76,376.60,277.29,458.75,404.15,302.67,514.09
150,2100-01-01,NaN,NaN,NaN,365.26,298.92,471.47,376.95,321.41,479.74,401.81,279.14,480.02